#map { 
    height: 100dvh;
}
.install-btn {
    background-color: yellow;
    color: red;
}

.hidden {
    display: none;
}

body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(50   50  50);
}